@model VehicleDetails.Models.RequiredModels.ViewModels.BrandCategories
@{
    ViewBag.Title = "AllVehicles";
    Layout = "~/Views/Shared/MainView.cshtml";

    var res = 0;
    foreach (var data in Model.vehiclesModel)
    {
        res = (int)data.VehicleType;
    }
    var CheckBoxRes = @ViewBag.CheckBoxValue;

}


@*@section search{
        <form class="form-inline d-flex my-2 my-lg-0" action="/home/allvehicles">
            <input class="form-control mr-sm-2" type="search" id="search" name="search" placeholder="search" value="@ViewBag.Search" aria-label="Search">
            <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
    }*@



<form action="/home/allvehicles" method="post" class="d-flex justify-content-center m-3" style=" font-family: emoji; font-size: large; color: black;">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="id" value="0" @(ViewBag.CheckBoxValue== 0 ? "checked" : "")>
        <label class="form-check-label" for="inlineCheckbox1">All Vehicles</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="id" value="1" @(ViewBag.CheckBoxValue == 1 ? "checked" : "")>
        <label class="form-check-label" for="inlineCheckbox1">New Vehicles</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="id" value="2" @(ViewBag.CheckBoxValue == 2 ? "checked" : "")>
        <label class="form-check-label" for="inlineCheckbox2">Old Vehicles</label>
    </div>
    
    <button class="btn btn-warning" style=" font-family: emoji; font-size: 18px; color: black;">Apply</button>
</form>




@section search{
    <form class="form-inline d-flex my-2 my-lg-0" action="/home/allvehicles">
        <div class="input-group">
            <input type="search" id="search" name="search" placeholder="search" value="@ViewBag.Search" class="form-control" aria-label="Text input with segmented dropdown button">
            <div class="input-group-append">
                <button class="btn  btn-warning" type="submit">Search</button>
               
            </div>
        </div>
    </form>
}
<div class="container-fluid" id="gridView" style="display:block; height:auto">
    <div class="container-fluid col-12 g-6 d-flex flex-wrap justify-content-center">
        @foreach (var data in Model.vehiclesModel)
        {
            <a href="/home/details/@data.VehicleID" class="text-decoration-none justify-content-between" style="color:black">
                <div class="card" style="width: 18rem; margin: 1rem;">
                    <img class="card-img-top" src="@data.ImageUrl" alt="Card image cap" style="height:10rem">
                    <div class="card-body">
                        <h4>@data.VehicleName</h4>
                        <p class="m-0">Price:<span class="text-muted">₹@data.price</span></p>
                        <p class="m-0">Owner:<span class="text-muted">@data.Owner</span></p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>


@*<script>
    debugger;
    $(document).ready(() => {
        $.ajax({
            url: `/home/AllVehicles`,
            type: "post",
            dataType: "json",
            contentText: "application/json",
            success: (data, status) => {
                console.log(data)
            }
        })
    })

</script>*@




