@model VehicleDetails.Models.RequiredModels.ViewModels.BrandCategories
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainView.cshtml";
}
@*<script>

</script>



@section Inbox{
    <button type="button" class="btn btn-primary position-relative" style="margin-right:25px">
        Inbox
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      
            <span class="visually-hidden">unread messages</span>
        </span>
    </button>    
}*@

<div class="container-fluid" id="gridView" style="display:block">
    <div class="text-xl-center"><div class="m-4 titleStyle">Vehicles</div></div>
    <div class="container-fluid col-12 g-6 d-flex flex-wrap justify-content-center">
        @foreach (var data in Model.vehiclesModel.Take(4))
        {
            <a href="/home/details/@data.VehicleID" class="text-decoration-none justify-content-between" style="color:black">
                <div class="card shadow-lg" style="width: 18rem; margin: 1rem;">
                    <img class="card-img-top" src="@data.ImageUrl" alt="Card image cap" style="height:10rem">
                    <div class="card-body">
                        <h4>@data.VehicleName</h4>
                        <p class="m-0">Price:<span class="text-muted">@data.price</span></p>
                        <p class="m-0">Owner:<span class="text-muted">@data.Owner</span></p>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="text-xl-center"><div class="m-5"><a href="/Home/AllVehicles" class="btn btn-light">View More</a></div></div>
</div>

<div class="container-fluid" id="gridView1" style="display:block">
    <div class="text-xl-center"><div class="m-4 titleStyle">Brands</div></div>
    <div class="container-fluid col-12 g-6 d-flex flex-wrap justify-content-center">
        @foreach (var data in Model.Brands.Take(4))
        {
            <a href="/home/AllVehicleByBrand/@data.BrandID" class="text-decoration-none justify-content-between" style="color:black">
                <div class="card shadow-lg" style="width: 18rem; margin: 1rem;">
                    <img class="card-img-top" src="@data.ImageUrl" alt="Card image cap" style="height:10rem">
                    <div class="card-body">
                        <h4>@data.BrandName</h4>
                    </div>

                </div>
            </a>
        }

    </div>
    <div class="text-xl-center"><div class="m-5"><a href="/home/AllBrand" class="btn btn-light">View More</a></div></div>
</div>

<div class="container-fluid" id="gridView2" style="display:block">
    <div class="text-xl-center"><div class="m-4 titleStyle">Categories</div></div>
    <div class="container-fluid col-12 g-6 d-flex flex-wrap justify-content-center">
        @foreach (var data in Model.Categories.Take(4))
        {
            <a href="#" class="text-decoration-none justify-content-between" style="color:black">
                <div class="card shadow-lg" style="width: 18rem; margin: 1rem;">
                    <img class="card-img-top" src="@data.ImageUrl" alt="Card image cap" style="height:10rem">
                    <div class="card-body">
                        <h4>@data.CategoryName</h4>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="text-xl-center"><div class="m-5"><a href="/category/index" class="btn btn-light">View More</a></div></div>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="table-responsive-xl">
        <table class="table" id="showTable" style="display:none">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Vehicle Name</th>
                    <th scope="col">Availability Status</th>
                    <th scope="col">Price</th>
                    <th scope="col">Manufacture Date</th>
                    <th scope="col">Mileage</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.vehiclesModel)
                {
                    <tr class="table-active">
                        <td>@data.VehicleName</td>
                        <td>@data.AvailabilityStatus</td>
                        <td>@data.price</td>
                        <td>@data.ManufactureDate.Value.ToString("dd-MM-yyyy")</td>
                        <td>@data.Mileage</td>
                        <td>
                            <a href="/home/details/@data.VehicleID" class="btn btn-success" style="color:black">View</a>
                        </td>
                        <td>
                            <a href="/home/edit/@data.VehicleID" class="btn btn-warning" type="submit">Edit</a>
                        </td>
                        <td>
                            <a href="/home/delete/@data.VehicleID" class="btn btn-danger" type="submit">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>

    var showGrid = true;
    function ChangeView() {
        showGrid = !showGrid;
        var element = document.getElementById("gridView");
        var element1 = document.getElementById("gridView1");
        var element2 = document.getElementById("gridView2");
        var element3 = document.getElementById("showTable");
        element.style.display = showGrid ? "none" : "block"
        element1.style.display = showGrid ? "none" : "block"
        element2.style.display = showGrid ? "none" : "block"
        element3.style.display = showGrid ? "block" : "none";
        if (element2.style.display == "block") {
            document.getElementById("buttonText").innerHTML = "Edit/Delete"
        } else {
            document.getElementById("buttonText").innerHTML = "Grid View"
        }
    }
</script>

<style>
    .titleStyle {
        font-size: 39px;
        font-weight: bolder;
        font-family: emoji;
    }
</style>

