@model VehicleDetails.Models.RequiredModels.ViewModels.UserModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/MainView.cshtml";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .eyeBtn {
        position: relative;
        float: right;
        bottom: 2.3rem;
    }
</style>

<div class="min-vh-100">
    <div class="d-flex justify-content-center h-100 align-items-lg-center">
        <div class="col-6">
            <div class="shadow shadow-lg p-5 opacity-75">
                <p class="text-center" style=" font-size: xx-large; font-family: emoji; font-weight: bold;">Sign Up</p>
                @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "" }))
                {
                    @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.UserImage)
                    @Html.TextBoxFor(model => model.UserImage, new { @class = "form-control", placeholder = "Enter upload Image", type = "file" })
                    @Html.ValidationMessageFor(model => model.UserImage, null, new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.FirstName)
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Enter First name" })
                    @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.LastName)
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Enter Last Name" })
                    @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.UserName)
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">#</span>
                        </div>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Enter User Name" })
                        @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter Email" })
                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.PhoneNumber)
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Enter Phone Number" })
                    
                    @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.City)
                    @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder = "Enter City" })
                    @Html.ValidationMessageFor(model => model.City, null, new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.State)
                    @Html.TextBoxFor(model => model.State, new { @class = "form-control", placeholder = "Enter State" })
                    @Html.ValidationMessageFor(model => model.State, null, new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ZipCode)
                    @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control", placeholder = "Enter ZipCode" })
                    @Html.ValidationMessageFor(model => model.ZipCode, null, new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Country)
                    @Html.TextBoxFor(model => model.Country, new { @class = "form-control", placeholder = "Enter Country" })
                    @Html.ValidationMessageFor(model => model.Country, null, new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.Address)
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", placeholder = "Enter Address" })
                    @Html.ValidationMessageFor(model => model.Address, null, new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Passwords)
                    @Html.PasswordFor(model => model.Passwords, new { @class = "form-control", placeholder = "Enter Passwords", id = "passwordInput" })
                    <button type="button" class="btn btn-outline-secondary eyeBtn" id="togglePassword">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>

                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                </div>
            </div>
                        <button class="btn btn-primary" type="submit">Create account</button>
                }
                <p class="text-danger">@ViewBag.EmailMsg</p>
                </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var passwordInput = document.getElementById("passwordInput");
        var togglePassword = document.getElementById("togglePassword");

        togglePassword.addEventListener('click', function () {

            var type = passwordInput.type === 'password' ? 'text' : 'password';
            passwordInput.type = type;

            togglePassword.innerHTML = type === 'password' ? '<span class="fa fa-eye" aria-hidden="true"></span>' : '<span class="fa fa-eye-slash" aria-hidden="true"></span>';
        });
    });
</script>