@model VehicleDetails.Models.RequiredModels.ViewModels.BrandCategories
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainView.cshtml";
}

<style>
    .heading {
        font-family: emoji;
        font-size: 18px;
        font-weight: bolder;
    }

    .options {
        background-color: #ffff;
        /* padding: 1rem;*/
        overflow: auto;
        height: 6rem;
    }
</style>

<div class="d-flex" style="background-color: aliceblue;">
    <div class="overflow-auto" style="margin: 1rem; padding: 1rem; overflow: auto; height: 41rem;">
        <div class="border border-info" style="background-color: #ffff; padding: 1rem;margin: 1rem;">
            <p class="heading">Categories</p>
            <div class="options">


                @if (Model.CategoriesList != null)
                {
                    foreach (var category in Model.CategoriesList)
                    {
                        <span>
                            <input type="checkbox" aria-label="Checkbox for following text input" id="categoryID" name="categoryID">
                            <label for="Budget">@category.CategoryName</label>
                        </span><br />
                    }
                }
                else
                {
                    <p>No categories available.</p>
                }


            </div>

        </div>
        <div class="border border-info" style="background-color: #ffff; padding: 1rem;margin: 1rem;">
            <p class="heading">Brands</p>
            <div class="options">

                @if (Model.CategoriesList != null)
                {
                    foreach (var brand in Model.CategoriesList.Take(1))
                    {
                        foreach (var brands in brand.BrandsList.Distinct())
                        {
                            <span>
                                <input type="checkbox" aria-label="Checkbox for following text input" id="categoryID" name="categoryID">
                                <label for="Budget">@brands.BrandName</label>
                            </span><br />
                        }

                    }
                }
                else
                {
                    <p>No categories available.</p>
                }

            </div>

        </div>
        <div class="border border-info" style="background-color: #ffff; padding: 1rem;margin: 1rem;">
            <p class="heading">Budget</p>
            <div class="options">


                @if (Model.CategoriesList != null)
                {
                    foreach (var vehicle in Model.CategoriesList.Take(1).Distinct())
                    {
                        foreach (var vehicles in vehicle.BrandsList.Distinct())
                        {

                            foreach (var veh in vehicles.vehiclesModelList.Distinct())
                            {
                                <span>
                                    <input type="checkbox" aria-label="Checkbox for following text input" id="categoryID" name="categoryID">
                                    <label for="Budget">@veh.price</label>
                                </span><br />
                            }

                        }

                    }
                }
                else
                {
                    <p>No categories available.</p>
                }

            </div>

        </div>
        <div class="border border-info" style="background-color: #ffff; padding: 1rem;margin: 1rem;">
            <p class="heading">Manufacture Date</p>
            <div class="options">

                @if (Model.CategoriesList != null)
                {
                    foreach (var vehicle in Model.CategoriesList.Take(1).Distinct())
                    {
                        foreach (var vehicles in vehicle.BrandsList.Distinct())
                        {

                            foreach (var veh in vehicles.vehiclesModelList.Distinct())
                            {
                                <span>
                                    <input type="checkbox" aria-label="Checkbox for following text input" id="categoryID" name="categoryID">
                                    <label for="Budget">@veh.ManufactureDate</label>
                                </span><br />
                            }

                        }

                    }
                }
                else
                {
                    <p>No categories available.</p>
                }
            </div>

        </div>
        <div class="border border-info" style="background-color: #ffff; padding: 1rem;margin: 1rem;">
            <p class="heading">Ownership</p>
            <div class="options">

                @if (Model.CategoriesList != null)
                {
                    foreach (var vehicle in Model.CategoriesList.Take(1).Distinct())
                    {
                        foreach (var vehicles in vehicle.BrandsList.Distinct())
                        {

                            foreach (var veh in vehicles.vehiclesModelList.Distinct())
                            {
                                <span>
                                    <input type="checkbox" aria-label="Checkbox for following text input" id="categoryID" name="categoryID">
                                    <label for="Budget">@veh.Owner</label>
                                </span><br />
                            }

                        }

                    }
                }
                else
                {
                    <p>No categories available.</p>
                }

            </div>

        </div>
        <div class="border border-info" style="background-color: #ffff; padding: 1rem;margin: 1rem;">
            <p class="heading">Fuel Type</p>
            <div class="options">

                @if (Model.CategoriesList != null)
                {
                    foreach (var vehicle in Model.CategoriesList.Take(1).Distinct())
                    {
                        foreach (var vehicles in vehicle.BrandsList.Distinct())
                        {

                            foreach (var veh in vehicles.vehiclesModelList.Distinct())
                            {
                                <span>
                                    <input type="checkbox" aria-label="Checkbox for following text input" id="categoryID" name="categoryID">
                                    <label for="Budget">@veh.FuelType</label>
                                </span><br />
                            }

                        }

                    }
                }
                else
                {
                    <p>No categories available.</p>
                }
            </div>

        </div>
        <div class="border border-info" style="background-color: #ffff; padding: 1rem;margin: 1rem;">
            <p class="heading">Transmission</p>
            <div class="options">

                @if (Model.CategoriesList != null)
                {
                    foreach (var vehicle in Model.CategoriesList.Take(1).Distinct())
                    {
                        foreach (var vehicles in vehicle.BrandsList.Distinct())
                        {

                            foreach (var veh in vehicles.vehiclesModelList.Distinct())
                            {
                                <span>
                                    <input type="checkbox" aria-label="Checkbox for following text input" id="categoryID" name="categoryID">
                                    <label for="Budget">@veh.Transmission</label>
                                </span><br />
                            }

                        }

                    }
                }
                else
                {
                    <p>No categories available.</p>
                }
            </div>

        </div>
        <div class="border border-info" style="background-color: #ffff; padding: 1rem;margin: 1rem;">
            <p class="heading">Availability</p>
            <div class="options">

                @if (Model.CategoriesList != null)
                {
                    foreach (var vehicle in Model.CategoriesList.Take(1).Distinct())
                    {
                        foreach (var vehicles in vehicle.BrandsList.Distinct())
                        {

                            foreach (var veh in vehicles.vehiclesModelList.Distinct())
                            {
                                <span>
                                    <input type="checkbox" aria-label="Checkbox for following text input" id="categoryID" name="categoryID">
                                    <label for="Budget">@veh.AvailabilityStatus</label>
                                </span><br />
                            }

                        }

                    }
                }
                else
                {
                    <p>No categories available.</p>
                }
            </div>

        </div>
        <div class="border border-info" style="background-color: #ffff; padding: 1rem;margin: 1rem;">
            <p class="heading">Colors</p>
            <div class="options">

                @if (Model.CategoriesList != null)
                {
                    foreach (var vehicle in Model.CategoriesList.Take(1).Distinct())
                    {
                        foreach (var vehicles in vehicle.BrandsList.Distinct())
                        {

                            foreach (var veh in vehicles.vehiclesModelList.Distinct())
                            {
                                <span>
                                    <input type="checkbox" aria-label="Checkbox for following text input" id="categoryID" name="categoryID">
                                    <label for="Budget">@veh.Color</label>
                                </span><br />
                            }

                        }

                    }
                }
                else
                {
                    <p>No categories available.</p>
                }
            </div>

        </div>
    </div>

    @{
        Html.RenderPartial("VehicleDetailsPartialView");
    }

</div>